.o_progressbar .o_progress .o_progress_danger {
    background-color: #dc3545;
    height: 100%;
}
.o_progressbar .o_progress .o_progress_warning {
    background-color: #ffc107;
    height: 100%;
}
.o_progressbar .o_progress .o_progress_success {
    background-color: #198754;
    height: 100%;
}
